@model IEnumerable<PeliculasWeb.Models.Actor>

@{
	ViewData["Title"] = "Index";
}

<h1>Actores</h1>

<div class="mb-4">
	<a asp-action="Create" class="btn btn-success">Nuevo Actor</a>
</div>

<table class="table align-middle">
	<thead class="table-bordered">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Personaje)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NombreActor)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Edad)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Nacionalidad)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Personaje)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NombreActor)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Edad)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Nacionalidad)
				</td>
				<td>
				
						<a asp-action="Edit" asp-route-id="@item.ActorId" class="btn btn-sm btn-outline-warning">Editar</a>
						<a asp-action="Details" asp-route-id="@item.ActorId" class="btn btn-sm btn-outline-info">Detalles</a>
						<a asp-action="Delete" asp-route-id="@item.ActorId" class="btn btn-sm btn-outline-danger">Eliminar</a>
				
				</td>
			</tr>
		}
	</tbody>
</table>
