@model PeliculasWeb.Models.Pelicula

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pelicula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEstreno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEstreno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePelicula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePelicula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero.NombreGenero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sipnosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sipnosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor.NombreActor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Director.Nombre)
        </dd>

        @if (!String.IsNullOrEmpty(Model.ImagenRuta))
        {
            <div class="form.group">
                <label>Portada actual: </label><br />
                <img src="@Model.ImagenRuta" alt="Portada actual" style="width:100px;height:auto;" />
            </div>
        }

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PeliculaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
