@model IEnumerable<PeliculasWeb.Models.Pelicula>

@{
	ViewData["Title"] = "Index";
}

<h1>Peliculas</h1>

<div class="mb-4">
	<a asp-action="Create" class="btn btn-success">Nueva Película</a>
</div>

<div class="card mb-4">
	<div class="card-body">
		<form asp-action="Index" method="get">
			<div class="row g-2">
				<div class="col-md-6">
					<input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Buscar por película..." />
				</div>
				<div class="col-md-4">
					<input type="text" name="NombreGenero" value="@ViewData["Genero"]" class="form-control" placeholder="Buscar por género" />
				</div>
				<div class="col-md-2 d-grid">
					<button type="submit" class="btn btn-primary">Buscar</button>
				</div>
			</div>
		</form>
	</div>
</div>

<table class="table-responsive align-middle">
	<thead class="table-bordered">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.FechaEstreno)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NombrePelicula)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Genero)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Sipnosis)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Actor)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Director)
			</th>
			<td>
				@Html.DisplayNameFor(model => model.ImagenRuta)
			</td>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.FechaEstreno)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NombrePelicula)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Genero.NombreGenero)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Sipnosis)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Actor.NombreActor)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Director.Nombre)
				</td>
				<td>
					@if (!string.IsNullOrEmpty(item.ImagenRuta))
					{
						<img src="@item.ImagenRuta" alt="Portada" style="width:100px;height:auto;" />
					}
				<td>

				<td>
					<div class="btn-group" role="group">
						<a asp-action="Edit" asp-route-id="@item.PeliculaId" class="btn btn-sm btn-outline-warning">Editar</a>
						<a asp-action="Details" asp-route-id="@item.PeliculaId" class="btn btn-sm btn-outline-info">Detalles</a>
						<a asp-action="Delete" asp-route-id="@item.PeliculaId" class="btn btn-sm btn-outline-danger">Eliminar</a>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
