@model IEnumerable<PeliculasWeb.Models.Genero>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreGenero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreGenero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.GeneroId" class="btn btn-sm btn-outline-warning">Editar</a> 
                    <a asp-action="Details" asp-route-id="@item.GeneroId" class="btn btn-sm btn-outline-info">Detalles</a> 
                <a asp-action="Delete" asp-route-id="@item.GeneroId"  class="btn btn-sm btn-outline-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
